/*超链接*/
a:link, a:visited, a:active {
    color: #333;
}
#Wrapper {
    background-color: #e2e2e2;
    background-image: url(/static/img/shadow_light.png), url(//cdn.v2ex.com/assets/bgs/circuit.png);
    background-repeat: repeat-x, repeat-x;
}
/*广告*/
.sidebar_compliance {
    background-color: #f2f2f2;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-size: 10px;
}
.sidebar_compliance a{
    color:#999;
}
.box{
    border-radius:8px;
}
.box .inner{
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
/*设置最大宽度适合mbp访问*/
.content{
    max-width:1260px;
}
.header {
    padding: 10px 20px;
}
.topic_content {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    word-wrap: break-word;
    padding: 0px 10px;
}
/*标签*/
a.tab_current:link,
a.tab_current:visited,
a.tab_current:active {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #1f1f20;
}
a.tab:link, a.tab:visited, a.tab:active {
    padding: 5px 10px;
    border-radius: 20px;
}
/*头像*/
img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fafafa;
}

/*列表*/
.cell {
    border-bottom: 1px solid #efefef;
    padding: 10px 15px;
}

/*列表回复气泡*/
a.count_livid:link,
a.count_livid:active {
    position: relative;
    font-weight: normal;
    font-size: 10px;
    background-color: #1f1f20;
    padding: 5px 8px;
}
a.count_livid:link:after, 
a.count_livid:active:after{
    content:"";
    position: absolute;
    top:6px;
    left:-6px;
    border:4px solid transparent;
    border-right-color:#1f1f20;
}
a.count_livid:hover {
    font-weight: normal; 
    background-color: #1f1f20;
    padding: 5px 8px;
}


a.count_blue:visited,
a.count_green:visited,
a.count_orange:visited,
a.count_livid:visited {
    font-weight: normal;
    color: #c5c5c5;
    background-color: #efefef;
}

a.count_blue:visited:after,
a.count_green:visited:after,
a.count_orange:visited:after,
a.count_livid:visited:after{
    content:"";
    position: absolute;
    top:6px;
    left:-6px;
    border:4px solid transparent;
    border-right-color:#efefef;
}

